.gradient-top {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -1020px;
  width: 2040px;
  height: 450px;
}

.background-gradient-bottom {
  position: absolute;
  z-index: 1;
  top: 450px;
  left: 50%;
  margin-left: -1020px;
  width: 2040px;
  height: 450px;
}